 
    <div class="btn-group text-center" role="group" style="float:right">
        <button type="button" class="btn btn-xs  btn-primary" ng-click="characterizationCtrl.changePage(-1)">
            <div class="glyphicon glyphicon-chevron-left"></div> Anterior
        </button>
        <button type="button" class="btn btn-xs  btn-primary" ng-click="characterizationCtrl.changePage(1)">
            Siguiente
            <div class="glyphicon glyphicon-chevron-right"></div>
        </button>
    </div>
 