<div class="container-fluid "  data-sr-container='{ "reset":true, "vFactor": 0.1 }'>
    <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 1400px; height: 200px;" >
        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 1400px; height: 200px;">
            <div><img u="image" src="assets/images/image1.jpg" /></div>
            <div><img u="image" src="assets/images/image2.jpg" /></div>
            <div><img u="image" src="assets/images/image3.jpg" /></div>
        </div>
    </div>
   
    <div class="row" style="margin-top:30px" id="survey">
        <a name="survey" href></a>
        <div class="col-md-10 col-md-offset-1 ">
           
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="progress  progress-striped active">
                <div class="progress-bar progress-bar-info" style="width: {{properties.progress}}%;">{{properties.progress}}%</div>
            </div>
        </div> 
    </div>
    -->
    <div class="jumbotron" ng-show="finished==true">
        <div ng-repeat="session in sessions">
        </div>
        <div class="container">
            <div class="col-md-offset-2 col-md-8">
                <div class="alert alert-success" role="alert">
                    <h4><span class="glyphicon glyphicon-ok"></span> Felicitaciones! Usted a Finalizado Satisfactoriamente, Gracias por su tiempo.</h4></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 ">
            <div class="panel panel-primary panel-opacity"   data-sr='enter top'>
                <div class="panel-heading" >
                    <div class="row">
                        <div class="col-md-12" >
                           
                             <h4 >Hacer click en las palabras que mejor describan su estilo para resolver problemas.</p><p> Organizarlas de mayor a menor.</h4>
                        </div>
   
                    </div>
                </div>
                <div class="panel-body">

<p class="text-center h2">Grupo {{vm.question_index+ 1}} de 18.</p>
                    <slick data-sr='enter left wait 0.5s' style="min-height: 200px; top:38px"  current-index="vm.question_index" speed=400  init-onload="false" slick-apply='slickApply' data="dataLoaded" slides-to-show="1" dots="true" next-arrow=".slick_right" prev-arrow=".slick_left">
                     <div style="min-height: 200px" class="text-center" ng-repeat="words in questions">
                     <div style="height:100%;top:30%; position:relative">
                            <div input-order items='words' callback='changeIndex(result)'></div>
                            <div ng-show="true">

                            </div>

                    </div>
                     <div ng-show="vm.question_index + 1>=18">
                            <button type="button" class="btn btn-xs  btn-success" ng-click="icaiCtrl.changePage(0)" >
                                                Finalizar
                                                <div class="glyphicon glyphicon-check"></div>
                            </button>
                     </div>
                     </div>

                    

                    </slick>
                    <a href="" class="slick_left pull-left visible-md visible-sm visible-lg">
                        <i class=" mdi-hardware-keyboard-arrow-left"></i>
                    </a>
                    <a href="" class="slick_right pull-right visible-md visible-sm visible-lg">
                        <i class="  mdi-hardware-keyboard-arrow-right"></i>
                    </a>
                    </slick>
                    <a href="" class="slick_left pull-left visible-xs">
                        <i class=" mdi-hardware-keyboard-arrow-left"></i>
                    </a>
                    <a href="" class="slick_right pull-right visible-xs">
                        <i class="  mdi-hardware-keyboard-arrow-right"></i>
                    </a>
                </div>


                <div class="panel-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 ">
                                <!-- Default panel contents -->
                                <div>Comuníquese con cualquiera de nuestros consultores a las siguientes líneas telefónicas: 301 485 1346 - 301 485 1536 - 300 265 8510 - 301 485 1421 - 301 485 1567 - 301 484 9940.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    <div class="question_bg">
            <img src="assets/images/questions_bg.png" alt="bg">
        </div>-->
    </div>
</div>
    <script type="text/ng-template" id="myModalContent.html">
 
    <div class="modal-header">
        <h3 class="modal-title">Finalizado Correctamente!</h3>
    </div> <div class="col-md-10 col-md-offset-1">
    <div class="modal-body"> 
    <p>Si conoce a otras empresas que puedan estar interesadas en estre proyecto, por favor indique los datos solicitados a continuación:</p>
       
           
            <br>
             <div class="row" ng-repeat="referrer in vm.referrers">
                <label class="col-md-3">Nombre:
                    <input type="text" value="referrer.nombre" ng-model="referrer.nombre" >
                </label>
                <label class="col-md-3">Empresa:
                    <input type="text" value="referrer.empresa" ng-model="referrer.empresa">
                </label class="col-md-3">
                <label class="col-md-3">Email:
                    <input type="text" value="referrer.email" ng-model="referrer.mail">
                </label>
                <label class="col-md-3">Telefono:
                    <input type="text" value="referrer.email" ng-model="referrer.tel">
                </label>
            </div>
            <br>
            <button class="btn btn-sm btn-info" ng-click="vm.add_referrer()">Añadir otra Empresa</button>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Enviar</button>
        <button class="btn btn-success" type="button" ng-click="cancel()">Finalizar</button>
    </div>
 

    </script>


 <script>
    jQuery(document).ready(function($) {
        var options = {};
        var jssor_slider1 = new $JssorSlider$('slider1_container', options);

        //responsive code begin
        //you can remove responsive code if you don't want the slider scales
        //while window resizes
        function ScaleSlider() {
            var parentWidth = $('#slider1_container').parent().width();
            if (parentWidth) {
                jssor_slider1.$ScaleWidth(parentWidth);
            } else
                window.setTimeout(ScaleSlider, 30);
        }
        //Scale slider after document ready
        ScaleSlider();

        //Scale slider while window load/resize/orientationchange.
        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
        //responsive code end
    });
    </script>