<nav class="navbar navbar-static-top navbar-warning skin-black-light shadow-z-2" data-sr='ease up 30% wait 0.5s '>
  <div class="container"> 
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#caracterizacion">
         <img class="img-responsive" alt="Brand" src="assets/logo.png">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav  navbar-right">
    
        <!--<li><a ng-href="#caracterizacion" >Caraterización</a></li>-->
          <!--  <li><a ng-href="#home">Inicio</a></li>
        <li><a ng-href="#home">Salir</a></li>-->
        <!--<li  ng-show = "!vm.isLogged()"><a  ng-href="#login">Login</a></li>-->
        
        <li ng-show="vm.isLogged()"><a ng-href="#instrumentos" >Instrumentos <i class="ion ion-ios-list-outline"></i></a></li>
        <li ng-show="vm.isLogged()"><a ng-href="#logout" ng-click="vm.logout()">Salir <i class="ion ion-log-out"></i></a></li>

        
      
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li></li>
      </ul>
    </div>
  </div>
</nav>
