.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

  .thumbnail {
    height: 200px;
}

  .thumbnail img.pull-right {
    width: 50px;
}

  body {
    background-color: white;
    font-size: 13px;
    font: normal 13px arial, 'sans-serif';
    background-image: url("../assets/bgs/bg2.jpg");
}

  .question_bg {
    float: right;
    display: inline;
    position: absolute;
    right: 90px;
    z-index: -1;
    top: 480px;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

  .question_bg img {
    width: 120%
}

  .panel-opacity {
    background-color: rgba(255, 255, 255, 1);
}

  .progress {
    height: 15px;
    font-size: 15px;
    background-color: #CDCDCE;
}

  .input-xs {
    height: 30px;
    padding: 0px 5px;
    font-size: 13px;
    line-height: 1;
    border-radius: 2px;
}

  legend {
    width: auto;
}

  fieldset {
    width: auto;
    border: 1px solid #c0c0c0;
    padding: 0.35em 0.625em 0.75em;
}


/* custom inclusion of right,   left and below tabs */

.tabs-below > .nav-tabs,
  .tabs-right > .nav-tabs,
  .tabs-left > .nav-tabs {
    border-bottom: 0;
}

  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
}

  .tab-content > .active,
  .pill-content > .active {
    display: block;
}

  .tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

   .tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

  .tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

  .tabs-below > .nav-tabs > li > a:hover,
  .tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd!important;
    border-bottom-color: transparent!important;
}

  .tabs-below > .nav-tabs > .active > a,
  .tabs-below > .nav-tabs > .active > a:hover,
  .tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd!important;
}

  .tabs-left > .nav-tabs > li,
  .tabs-right > .nav-tabs > li {
    float: none;
}

  .tabs-left > .nav-tabs > li > a,
  .tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

  .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

  .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee!important;
}

  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd!important;
    *border-right-color: #ffffff!important;
}

  .tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

  .tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

  .tabs-right > .nav-tabs > li > a:hover,
  .tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd!important;
}

  .tabs-right > .nav-tabs .active > a,
  .tabs-right > .nav-tabs .active > a:hover,
  .tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent!important;
    *border-left-color: #ffffff!important;
}

  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}

  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

  input.ng-invalid {
    border: 1px solid red;
}

  input.ng-valid {
    border: 1px solid green;
}

  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 0px;
}

  .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}

  .navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

  th {
    text-align: center;
    font-weight: bold;
    font-size: 14px
}

  .underlined {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 14px;
    background-color: #DDE9ED;
}

  .underlined a {
    color: #232425;
    text-decoration: none!important
}


/* Specify styling for tooltip contents */

.tooltip.customClass .tooltip-inner {
    color: #FFFFFF;
    background-color: #2C3E50;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    font-size: 14px;
}


/* Hide arrow */

.tooltip.customClass .tooltip-arrow {
    display: none;
}

  .ng-hide-add,
  .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important;
    /* yes,   important */
}

  .cssSlideUp {
    transition: .5s linear all;
    height: 80px;
    overflow: hidden;
}

  .cssSlideUp.ng-hide {
    height: 0;
}

  .page {
    bottom: 0;
    padding-top: 200px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

  .page h1 {
    font-size: 60px;
}

  .page a {
    margin-top: 50px;
}

  .page-home {
    background: #00D0BC;
    color: #00907c;
}

  .page-about {
    background: #E59400;
    color: #a55400;
}

  .page-contact {
    background: #ffa6bb;
    color: #9e0000;
}

  .ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}

  .ng-enter-active {
    opacity: 1;
}

  .ng-leave {
    -webkit-transition: 1s;
    transition: 1s;
}

  .ng-leave-active {
    opacity: 0;
}

  .my-fade-container {
    position: relative;
}

  .my-fade-animation.ng-enter,
  .my-fade-animation.ng-leave {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

  .my-fade-animation.ng-enter {
    z-index: 100;
    opacity: 0;
}

  .my-fade-animation.ng-enter.ng-enter-active {
    opacity: 1;
}

  .my-fade-animation.ng-leave {
    z-index: 101;
    opacity: 1;
}

  .my-fade-animation.ng-leave.ng-leave-active {
    opacity: 0;
}


/*dddddddddddddd*/

  .rainbow-slider {
    background: linear-gradient(to right,  #ff4c4c 0%,  #f7f733 50%, #3be240 100%);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    border: none;
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);*/
    position: relative;
    height: 5px;
}

  .rainbow-slider .ui-slider-handle {
    background: rgba(255, 255, 255, 0.21);
    border-color: rgba(0, 0, 0, 0.56);
    box-shadow: inset 0 0 2px 2px rgba(255, 255, 255, 0.89);
    border-radius: 20px;
    top: -8px;
}

  .rainbow-slider .ui-slider-handle.ui-state-hover,
  .rainbow-slider .ui-slider-handle:hover,
  .rainbow-slider .ui-slider-handle.ui-state-focus,
  .rainbow-slider .ui-slider-handle:focus,
  .rainbow-slider .ui-slider-handle.ui-state-active {
    background: rgba(255, 255, 255, 0.21)!important;
}

  .rainbow-slider .ui-slider-pip .ui-slider-label {
    width: 6em;
    margin-left: -3em;
}

  .rainbow-slider .ui-slider-pip .ui-slider-line {
    top: 1px;
}

  .rainbow-slider .ui-slider-pip:nth-of-type(odd) {
    top: auto;
    bottom: 32px;
}

  .rainbow-slider .ui-slider-pip:nth-of-type(odd) .ui-slider-line {
    top: 21px;
}

::-ms-tooltip {
    display: none;
}


/***/

slider {
    display: block;
    position: relative;
    height: 30px;
}

  slider span.bar {
    height: 50%;
    z-index: 0;
    left: 0;
    top: 25%;
    cursor: pointer;
}

  slider span.bar.selection,
  slider span.bar.unselected {}

  slider span.bar.selection {
    background: #0a0;
    opacity: 0.5;
}

  slider span.bar.unselected {
    width: auto;
    background: #a00;
    opacity: 0.5;
}

  slider span.pointer {
    top: -9px;
    z-index: 2;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #6B6B6B;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid white;
}

  slider span.pointer:after {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 4px;
    height: 4px;
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    content: '';
}

  slider span.pointer:hover {}

  slider span.pointer.active {
    background-color: #2C3E50
}

  slider span.bubble {
    font-size: 0.7em;
    line-height: 1.4em;
    font-family: sans-serif;
    text-align: center;
    text-shadow: none;
    top: -1.3em;
    cursor: pointer;
}

  slider span.bubble.selection,
  slider span.bubble.limit {
    top: 25%;
}

  slider span.bubble.selection {}

  slider span.bubble.limit {}

  slider span.bubble.low,
  slider span.bubble.high {
    top: -18px;
    display: none!important;
}

  #slider-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

  slider span.bar.unselected {
    width: 0;
    z-index: 1;
    background: #f5f5f5;
}

  slider>input {
    max-width: 100%;
}

  .ui-slider-line-pip {
    background: #999;
    width: 1px;
    height: 5px;
    position: absolute;
    left: 50%;
    top: -7px;
}

  .ui-slider-line {
    width: 1px;
    height: 3px;
    /*position: absolute;*/
    left: 50%;
}

  .ui-slider-pip {
    /* top: 0%!important; */
    /* width: 2em; */
    /* height: 1em; */
    /* line-height: 1em; */
    bottom: 0px!important;
    position: absolute;
    font-size: .5em;
    /* color: #999; */
    /* overflow: visible; */
    /* text-align: center; */
    /* top: 20px; */
    /* left: 20px; */
    margin-left: -0.5em;
    /* cursor: pointer; */
}

  .pips {
    margin-top: 25px;
}

::-ms-tooltip {
    display: none;
}


/******/

.panel-primary > .panel-heading {
    background-color: #444;
    background-image: url("../assets/material2.jpg");
}

  .nav-tabs {
    background: #212121;
}

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    color: orange!important;
    background-color: #ffffff!important;
    border: 1px solid #ecf0f1!important;
    border-bottom-color: transparent!important;
    cursor: default!important;
}

  .nav-tabs > li > a,
  .nav-tabs > li > a:hover,
  .nav-tabs > li > a:focus {
    background-color: transparent;
    border: 0;
    color: #FFDB60 !important;
    ;
    font-weight: 500;
}

  .angular-center-container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: table;
    pointer-events: none;
    z-index: 9999;
}

  .angular-centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
