	<div class="text-center">
	<div class="btn-group" id="input-scala">
        <label class="btn btn-warning btn-xs" ng-model="vm.selectedItem" btn-radio="'1'">1</label>
        <label class="btn btn-warning btn-xs" ng-model="vm.selectedItem" btn-radio="'2'">2</label>
        <label class="btn btn-warning btn-xs" ng-model="vm.selectedItem" btn-radio="'3'">3</label>
        <label class="btn btn-warning btn-xs" ng-model="vm.selectedItem" btn-radio="'4'">4</label>
        <label class="btn btn-warning btn-xs" ng-model="vm.selectedItem" btn-radio="'5'">5</label>
        <label class="btn btn-warning btn-xs" ng-model="vm.selectedItem" btn-radio="'6'">6</label>
        <label class="btn btn-warning btn-xs" ng-model="vm.selectedItem" btn-radio="'7'">7</label>
    </div>
 </div>