<label class="col-md-12 ">
    <p>25. Señale el grado de importancia que tuvieron las siguientes fuentes de información para la actividad innovadora en su empresa. <span style="color:red; font-weight: 100">(Nota: Si la fuente de información no fue utilizada al momento de realizar sus innovaciones, no conteste las siguientes preguntas)</span></p>
</label>
<div class="col-md-12">
    <table class="table  table-bordered">
        <thead>
            <tr>
                <th class="col-md-5">
                    <p>Fuentes de información
                    </p>
                </th>
                <th>
                    <p>Grado de importancia</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Fuentes internas (generados al interior de la empresa)</td>
                <td class="text-center">
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s11.p1" floor="0" ceiling="100" step="1">
                        </slider>
                       
                    </div>
                </td>
            </tr>
            <tr>
                <td>Proveedores</td>
                <td>
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s11.p2" floor="0" ceiling="100" step="1">
                        </slider>
                       
                    </div>
                </td>
            </tr>
            <tr>
                <td>Clientes</td>
                <td>
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s11.p3" floor="0" ceiling="100" step="1">
                        </slider>
                       
                    </div>
                </td>
            </tr>
            <tr>
                <td>Competidores u otras empresas del mismo sector</td>
                <td>
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s11.p4" floor="0" ceiling="100" step="1">
                        </slider>
                       
                    </div>
                </td>
            </tr>
            <tr>
                <td>Consultores, laboratorios comerciales</td>
                <td>
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s11.p5" floor="0" ceiling="100" step="1">
                        </slider>
                       
                    </div>
                </td>
            </tr>
            <tr>
                <td>Universidades u otras instituciones de educación superior </td>
                <td>
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s11.p6" floor="0" ceiling="100" step="1">
                        </slider>
                       
                    </div>
                </td>
            </tr>
            <tr>
                <td>Institutos de investigación públicos </td>
                <td>
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s11.p7" floor="0" ceiling="100" step="1">
                        </slider>
                       
                    </div>
                </td>
            </tr>
            <tr>
                <td>Agremiaciones y/o asociaciones sectoriales</td>
                <td>
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s11.p8" floor="0" ceiling="100" step="1">
                        </slider>
                       
                    </div>
                </td>
            </tr>
            <tr>
                <td>Conferencias, ferias y exposiciones</td>
                <td>
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s11.p9" floor="0" ceiling="100" step="1">
                        </slider>
                       
                    </div>
                </td>
            </tr>
            <tr>
                <td>Revistas científicas, base de datos de patentes </td>
                <td>
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s11.p10" floor="0" ceiling="100" step="1">
                        </slider>
                       
                    </div>
                </td>
            </tr>
            <tr>
                <td>Asociaciones a nivel profesional e industrial</td>
                <td>
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s11.p11" floor="0" ceiling="100" step="1">
                        </slider>
                       
                    </div>
                </td>
            </tr>
            <tr>
                <td>Internet</td>
                <td>
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s11.p12" floor="0" ceiling="100" step="1">
                        </slider>
                       
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <label class="col-md-12">
        <p>26. Señale el grado de importancia de los siguientes socios de <a   tooltip-placement="top" tooltip="Se entiende por cooperación en innovación la participación activa con otras empresas o entidades no comerciales en proyectos conjuntos de innovación. No implica que que las dos partes obtengan beneficios económicos de la cooperación. Se excluye la simple contratación de servicios o trabajos de otra organización sin participación activa. " tooltip-class="customClass">cooperación  <i class="glyphicon glyphicon-info-sign"></i></a>  utilizados para llevar a cabo actividades de ciencia, tecnología e innovación durante el periodo 2013 - 2014 <span style="color:red; font-weight: 100">(Nota: Si no hubo cooperación con el socio al momento de realizar sus innovaciones, no conteste las siguientes preguntas)</span></p>
    </label>
    <div class=" col-md-offset-2 col-md-8">
        <table class="table  table-bordered">
            <thead>
                <tr>
                    <th>
                        <p>Socio de cooperación </p>
                    </th>
                    <th class="col-sm-8">
                        <p>Grado de importancia </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td>
                        <p>Otras empresas de su mismo grupo</p>
                        
                    </td><td colspan="" rowspan="" headers=""> <div class="rainbow-slider">
                            <slider ng-model="answers.s11.p13" floor="0" ceiling="100" step="1">
                            </slider>
                           
                        </div></td>
                </tr>
                <tr>
                    
                    <td>
                        <p>Proveedores</p>
                    </td>
                    <td>
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s11.p14" floor="0" ceiling="100" step="1">
                            </slider>
                           
                        </div>
                        </td>
                </tr>
                <tr>
                    
                    <td>
                        <p>Clientes</p>
                    </td>
                    <td>
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s11.p15" floor="0" ceiling="100" step="1">
                            </slider>
                           
                        </div>
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <p>Competidores</p>
                    </td>
                    <td>
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s11.p16" floor="0" ceiling="100" step="1">
                            </slider>
                           
                        </div>
                        </td>
                </tr>
                <tr>
                    
                    <td>
                        <p>Consultores</p>
                    </td>
                    <td>
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s11.p17" floor="0" ceiling="100" step="1">
                            </slider>
                           
                        </div>
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <p>Universidades</p>
                    </td>
                    <td>
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s11.p18" floor="0" ceiling="100" step="1">
                            </slider>
                           
                        </div>
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <p>Centros de Desarrollo Tecnológico</p>
                    </td>
                    <td>
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s11.p19" floor="0" ceiling="100" step="1">
                            </slider>
                           
                        </div>
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <p>Centros de Investigación</p>
                    </td>
                    <td>
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s11.p20" floor="0" ceiling="100" step="1">
                            </slider>
                           
                        </div>
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <p>Parques Tecnológicos</p>
                    </td>
                    <td>
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s11.p21" floor="0" ceiling="100" step="1">
                            </slider>
                           
                        </div>
                    </td>

                </tr>
                <tr>
                    
                    <td>
                        <p>Centros Regionales de Productividad</p>
                    </td>
                    <td>
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s11.p22" floor="0" ceiling="100" step="1">
                            </slider>
                           
                        </div>
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <p>Organizaciones Internacionales</p>
                    </td>
                    <td>
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s11.p23" floor="0" ceiling="100" step="1">
                            </slider>
                           
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        <!-- Text input
        <div class="form-group">
            <label class="col-md-3 control-label">Otros</label>
            <div class="col-md-1">
                <td class="text-center">
                    <input name="answers.s11.check" type="checkbox" checked="true" value="1" ng-model="properties.s11.check">
                </td>
               

            </div> 
            <div >
                    <label class="col-md-2 control-label">Cuáles?</label>
                    <p class="input-group col-md-6">
                        <input value= "" type="text" class="form-control input-xs" ng-model="answers.s11.p24" />
                    </p>
                </div>
        </div>
-->