 
    <label class="col-md-12 ">
        <p> Señale el grado de importancia que tuvieron las siguientes fuentes de información, para la actividad innovadora en su empresa es una escala de 1 a 5, donde 1 significa que no fue importante, 2 poco importante, 3 algo importante, 4 importante y 5 muy importante</p>
    </label>
    <div class="col-md-12">
        <table class="table  table-bordered">
            <thead>
                <tr>
                    <th class="col-md-9">
                        <p>Fuentes de información
                        </p>
                    </th>
                    <th colspan="5">
                        <p>Grado de importancia</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td class="underlined">1. Fuentes internas (generados al interior de la empresa)</td>
                    <td class="text-center">
                        <input name="answers.s11.p1" type="radio" value="1" ng-model="answers.s11.p1" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p1" type="radio" value="2" ng-model="answers.s11.p1" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p1" type="radio" value="3" ng-model="answers.s11.p1" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p1" type="radio" value="4" ng-model="answers.s11.p1" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p1" type="radio" value="5" ng-model="answers.s11.p1" ng-click="answers.s11.updateTotal()">
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="underlined">2. Mercado</td>
                </tr>
                <tr>
                    <td>Proveedores</td>
                    <td class="text-center">
                        <input name="answers.s11.p2" type="radio" value="1" ng-model="answers.s11.p2" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p2" type="radio" value="2" ng-model="answers.s11.p2" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p2" type="radio" value="3" ng-model="answers.s11.p2" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p2" type="radio" value="4" ng-model="answers.s11.p2" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p2" type="radio" value="5" ng-model="answers.s11.p2" ng-click="answers.s11.updateTotal()">
                    </td>
                </tr>
                <tr>
                    <td>Clientes</td>
                    <td class="text-center">
                        <input name="answers.s11.p3" type="radio" value="1" ng-model="answers.s11.p3" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p3" type="radio" value="2" ng-model="answers.s11.p3" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p3" type="radio" value="3" ng-model="answers.s11.p3" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p3" type="radio" value="4" ng-model="answers.s11.p3" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p3" type="radio" value="5" ng-model="answers.s11.p3" ng-click="answers.s11.updateTotal()">
                    </td>
                </tr>
                <tr>
                    <td>Competidores u otras empresas del mismo sector</td>
                    <td class="text-center">
                        <input name="answers.s11.p4" type="radio" value="1" ng-model="answers.s11.p4" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p4" type="radio" value="2" ng-model="answers.s11.p4" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p4" type="radio" value="3" ng-model="answers.s11.p4" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p4" type="radio" value="4" ng-model="answers.s11.p4" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p4" type="radio" value="5" ng-model="answers.s11.p4" ng-click="answers.s11.updateTotal()">
                    </td>
                </tr>
                <tr>
                    <td>Consultores, laboratorios comerciales</td>
                    <td class="text-center">
                        <input name="answers.s11.p5" type="radio" value="1" ng-model="answers.s11.p5" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p5" type="radio" value="2" ng-model="answers.s11.p5" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p5" type="radio" value="3" ng-model="answers.s11.p5" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p5" type="radio" value="4" ng-model="answers.s11.p5" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p5" type="radio" value="5" ng-model="answers.s11.p5" ng-click="answers.s11.updateTotal()">
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="underlined">3. Fuentes institucionales </td>
                </tr>
                <tr>
                    <td>Universidades u otras instituciones de educación superior </td>
                    <td class="text-center">
                        <input name="answers.s11.p6" type="radio" value="1" ng-model="answers.s11.p6" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p6" type="radio" value="2" ng-model="answers.s11.p6" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p6" type="radio" value="3" ng-model="answers.s11.p6" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p6" type="radio" value="4" ng-model="answers.s11.p6" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p6" type="radio" value="5" ng-model="answers.s11.p6" ng-click="answers.s11.updateTotal()">
                    </td>
                </tr>
                <tr>
                    <td>Institutos de investigación públicos </td>
                    <td class="text-center">
                        <input name="answers.s11.p7" type="radio" value="1" ng-model="answers.s11.p7" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p7" type="radio" value="2" ng-model="answers.s11.p7" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p7" type="radio" value="3" ng-model="answers.s11.p7" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p7" type="radio" value="4" ng-model="answers.s11.p7" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p7" type="radio" value="5" ng-model="answers.s11.p7" ng-click="answers.s11.updateTotal()">
                    </td>
                </tr>
                <tr>
                    <td>Agremiaciones y/o asociaciones sectoriales</td>
                    <td class="text-center">
                        <input name="answers.s11.p8" type="radio" value="1" ng-model="answers.s11.p8" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p8" type="radio" value="2" ng-model="answers.s11.p8" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p8" type="radio" value="3" ng-model="answers.s11.p8" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p8" type="radio" value="4" ng-model="answers.s11.p8" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p8" type="radio" value="5" ng-model="answers.s11.p8" ng-click="answers.s11.updateTotal()">
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="underlined">4. Otras fuentes</td>
                </tr>
                <tr>
                    <td>Conferencias, ferias y exposiciones</td>
                    <td class="text-center">
                        <input name="answers.s11.p9" type="radio" value="1" ng-model="answers.s11.p9" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p9" type="radio" value="2" ng-model="answers.s11.p9" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p9" type="radio" value="3" ng-model="answers.s11.p9" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p9" type="radio" value="4" ng-model="answers.s11.p9" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p9" type="radio" value="5" ng-model="answers.s11.p9" ng-click="answers.s11.updateTotal()">
                    </td>
                </tr>
                <tr>
                    <td>Revistas científicas, base de datos de patentes </td>
                    <td class="text-center">
                        <input name="answers.s11.p10" type="radio" value="1" ng-model="answers.s11.p10" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p10" type="radio" value="2" ng-model="answers.s11.p10" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p10" type="radio" value="3" ng-model="answers.s11.p10" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p10" type="radio" value="4" ng-model="answers.s11.p10" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p10" type="radio" value="5" ng-model="answers.s11.p10" ng-click="answers.s11.updateTotal()">
                    </td>
                </tr>
                <tr>
                    <td>Asociaciones a nivel profesional e industrial</td>
                    <td class="text-center">
                        <input name="answers.s11.p11" type="radio" value="1" ng-model="answers.s11.p11" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p11" type="radio" value="2" ng-model="answers.s11.p11" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p11" type="radio" value="3" ng-model="answers.s11.p11" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p11" type="radio" value="4" ng-model="answers.s11.p11" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p11" type="radio" value="5" ng-model="answers.s11.p11" ng-click="answers.s11.updateTotal()">
                    </td>
                </tr>
                <tr>
                    <td>Internet</td>
                    <td class="text-center">
                        <input name="answers.s11.p12" type="radio" value="1" ng-model="answers.s11.p12" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p12" type="radio" value="2" ng-model="answers.s11.p12" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p12" type="radio" value="3" ng-model="answers.s11.p12" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p12" type="radio" value="4" ng-model="answers.s11.p12" ng-click="answers.s11.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s11.p12" type="radio" value="5" ng-model="answers.s11.p12" ng-click="answers.s11.updateTotal()">
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <label class="col-md-12">
            <p>b. ¿De los siguientes que socios de cooperación cuáles ha utilizado para llevar a cabo actividades de innovación, ciencia y tecnología durante el periodo 2013 - 2014? </p>
        </label>
        <div class="col-md-offset-2 col-md-8">
            <table class="table  table-bordered">
                <thead>
                    <tr>
                        <th>
                            <p>Categoría </p>
                        </th>
                        <th class="col-md-8">
                            <p>Actividad </p>
                        </th>
                        <th>
                            <p>Si</p>
                        </th>
                        <th>
                            <p>No</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>1</td>
                        <td>Otras empresas de su mismo grupo </td>
                        <td class="text-center">
                            <input name="answers.s11.p13" type="radio" checked="true" value="1" ng-model="answers.s11.p13" ng-click="answers.s11.updateTotal()">
                        </td>
                        <td class="text-center">
                            <input name="answers.s11.p13" type="radio" value="0" ng-model="answers.s11.p13" ng-click="answers.s11.updateTotal()">
                        </td>
                    </tr>
                    <tr>
                    <td>2</td>
                        <td>Proveedores </td>
                        <td class="text-center">
                            <input name="answers.s11.p14" type="radio" checked="true" value="1" ng-model="answers.s11.p14" ng-click="answers.s11.updateTotal()">
                        </td>
                        <td class="text-center">
                            <input name="answers.s11.p14" type="radio" value="0" ng-model="answers.s11.p14" ng-click="answers.s11.updateTotal()">
                        </td>
                    </tr>
                    <tr>
                    <td>3</td>
                        <td>Clientes </td>
                        <td class="text-center">
                            <input name="answers.s11.p15" type="radio" checked="true" value="1" ng-model="answers.s11.p15" ng-click="answers.s11.updateTotal()">
                        </td>
                        <td class="text-center">
                            <input name="answers.s11.p15" type="radio" value="0" ng-model="answers.s11.p15" ng-click="answers.s11.updateTotal()">
                        </td>
                    </tr>
                    <tr>
                    <td>4</td>
                        <td>Competidores </td>
                        <td class="text-center">
                            <input name="answers.s11.p17" type="radio" checked="true" value="1" ng-model="answers.s11.p16" ng-click="answers.s11.updateTotal()">
                        </td>
                        <td class="text-center">
                            <input name="answers.s11.p17" type="radio" value="0" ng-model="answers.s11.p16" ng-click="answers.s11.updateTotal()">
                        </td>
                    </tr>
                    <tr>
                    <td>5</td>
                        <td>Consultores</td>
                        <td class="text-center">
                            <input name="answers.s11.p18" type="radio" checked="true" value="1" ng-model="answers.s11.p19" ng-click="answers.s11.updateTotal()">
                        </td>
                        <td class="text-center">
                            <input name="answers.s11.p18" type="radio" value="0" ng-model="answers.s11.p19" ng-click="answers.s11.updateTotal()">
                        </td>
                    </tr>
                    <tr>
                    <td>6</td>
                        <td>Universidades</td>
                        <td class="text-center">
                            <input name="answers.s11.p20" type="radio" checked="true" value="1" ng-model="answers.s11.p20" ng-click="answers.s11.updateTotal()">
                        </td>
                        <td class="text-center">
                            <input name="answers.s11.p20" type="radio" value="0" ng-model="answers.s11.p20" ng-click="answers.s11.updateTotal()">
                        </td>
                    </tr>
                    <tr>
                    <td>7</td>
                        <td>Centros de Desarrollo Tecnológico</td>
                        <td class="text-center">
                            <input name="answers.s11.p21" id="innovacion.producto.nuevos-0" type="radio" checked="true" value="1" ng-model="answers.s11.p21" ng-click="answers.s11.updateTotal()">
                        </td>
                        <td class="text-center">
                            <input name="answers.s11.p21" type="radio" value="0" ng-model="answers.s11.p21" ng-click="answers.s11.updateTotal()">
                        </td>
                    </tr>
                    <tr>
                    <td>8</td>
                        <td>Centros de Investigación </td>
                        <td class="text-center">
                            <input name="answers.s11.p22" id="innovacion.producto.nuevos-0" type="radio" checked="true" value="1" ng-model="answers.s11.p22" ng-click="answers.s11.updateTotal()">
                        </td>
                        <td class="text-center">
                            <input name="answers.s11.p22" type="radio" value="0" ng-model="answers.s11.p22" ng-click="answers.s11.updateTotal()">
                        </td>
                    </tr>
                    <tr>
                    <td>9</td>
                        <td>Parques Tecnológicos </td>
                        <td class="text-center">
                            <input name="answers.s11.p23" id="innovacion.producto.nuevos-0" type="radio" checked="true" value="1" ng-model="answers.s11.p23" ng-click="answers.s11.updateTotal()">
                        </td>
                        <td class="text-center">
                            <input name="answers.s11.p23" type="radio" value="0" ng-model="answers.s11.p23" ng-click="answers.s11.updateTotal()">
                        </td>
                    </tr>
                    <tr>
                    <td>10</td>
                        <td>Centros Regionales de Productividad</td>
                        <td class="text-center">
                            <input name="answers.s11.p24" id="innovacion.producto.nuevos-0" type="radio" checked="true" value="1" ng-model="answers.s11.p24" ng-click="answers.s11.updateTotal()">
                        </td>
                        <td class="text-center">
                            <input name="answers.s11.p24" type="radio" value="0" ng-model="answers.s11.p24" ng-click="answers.s11.updateTotal()">
                        </td>
                    </tr>
                    <tr>
                    <td>11</td>
                        <td>Organizaciones Internacionales</td>
                        <td class="text-center">
                            <input name="answers.s11.p25" id="innovacion.producto.nuevos-0" type="radio" checked="true" value="1" ng-model="answers.s11.p25" ng-click="answers.s11.updateTotal()">
                        </td>
                        <td class="text-center">
                            <input name="answers.s11.p25" type="radio" value="0" ng-model="answers.s11.p25" ng-click="answers.s11.updateTotal()">
                        </td>
                    </tr>
                </tbody>
            </table>

