
						<div class="form-group">
							<label class="col-md-4 control-label" for="informante.name">Nombre</label>
							<div class="col-md-4">
								<input name="informante.name" class="form-control input-xs" id="informante.name" required="" type="text" placeholder=""  ng-model="answers.s2.p1">
								
							</div>
						</div>
						<!-- Select Basic -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="informante.nivel">Nivel educativo máximo alcanzado</label>
							<div class="col-md-4">
								<select name="informante.nivel" class="form-control input-xs" id="informante.nivel"  ng-model="answers.s2.p2">
									<option value="Básica primaria">Básica primaria</option>
									<option value="Básica secundaria">Básica secundaria</option>
									<option value="Técnica profesional">Técnica profesional</option>
									<option value="Tecnológica">Tecnológica</option>
									<option value="Profesional Universitario">Profesional Universitario</option>
									<option value="Especialización">Especialización</option>
									<option value="Maestría">Maestría</option>
									<option value="Doctorado">Doctorado</option>
								</select>
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="informante.cargo">Cargo</label>
							<div class="col-md-4">
								<input name="informante.cargo" class="form-control input-xs" id="informante.cargo" required="" type="text" placeholder=""  ng-model="answers.s2.p3">
								
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="informante.telefono">Telefono</label>
							<div class="col-md-4">
								<input name="informante.telefono" class="form-control input-xs" id="informante.telefono" type="text" placeholder=""  ng-model="answers.s2.p4">
								 
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="informante.email">E-mail</label>
							<div class="col-md-4">
								<input name="informante.email" class="form-control input-xs" id="informante.email" required="" type="text" placeholder=" "  ng-model="answers.s2.p5">
								<span class="help-block"> </span>
							</div>
						</div>
