 
    <label class="col-md-12 " ><p>Durante el periodo 2013 - 2014 su empresa introdujo:</p></label>
    
    <div class="col-md-12">
        
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="col-md-9"><p>Item</p></th>
                <th><p>Si
                    <br>(2013 - 2014)</p> </th>
                <th><p>No</p></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Un nuevo método de manufactura o de producción de bienes y servicios (Por ejemplo: Selección automática de pedidos, seguimiento automatizado de envíos, introducción de sistemas de información, sistemas de códigos de barra…)</td>
                <td class="text-center">
                    <input name="answers.s5.p1" id="innovacion.producto.nuevos-0" type="radio" checked="true" value="1" ng-model="answers.s5.p1">
                </td>
                <td class="text-center">
                    <input name="answers.s5.p1" id="innovacion.producto.nuevos-1" type="radio" value="0" ng-model="answers.s5.p1">
                </td>
            </tr>
            <tr>
                <td>Un nuevo método de logística, entrega o distribución para sus insumos, bienes o servicios (Por ejemplo: Sistemas de pedidos, sistemas de minimización de stocks, sistemas logísticos de transporte…)</td>
                <td class="text-center">
                    <input name="answers.s5.p2" id="innovacion.producto.nuevos-0" type="radio" checked="true" value="1" ng-model="answers.s5.p2">
                </td>
                <td class="text-center">
                    <input name="answers.s5.p2" id="innovacion.producto.nuevos-1" type="radio" value="0" ng-model="answers.s5.p2">
                </td>
            </tr>
            <tr>
                <td>Una nueva actividad de apoyo para sus procesos, tales como sistema de mantenimiento u operaciones de compra, contabilidad o informática (Por ejemplo: Sistemas de información y gestión, sistemas de gestión de contabilidad, sistemas tipo SAP…)</td>
                <td class="text-center">
                    <input name="answers.s5.p3" id="innovacion.producto.nuevos-0" type="radio" checked="true" value="1" ng-model="answers.s5.p3">
                </td>
                <td class="text-center">
                    <input name="answers.s5.p3" id="innovacion.producto.nuevos-1" type="radio" value="0" ng-model="answers.s5.p3">
                </td>
            </tr>
        </tbody>
    </table>
    </div>
 