 
    <label class="col-md-12 ">
        <p>¿De los siguientes objetivos cuáles fueron perseguidos al momento de realizar sus innovaciones en producto, proceso, organización o marketing en el período 2013 - 2014?</p>
    </label>
    <div class="col-md-12">
        <table class="table  table-bordered">
            <thead>
                <tr>
                    <th class="col-md-9">
                        <p>Actividad </p>
                    </th>
                    <th>
                        <p>Si</p>
                    </th>
                    <th>
                        <p>No</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3" class="underlined">Innovaciones de productos y/o procesos</td>
                </tr>
                <tr>
                    <td>Ampliación de la gama de bienes y servicios</td>
                    <td class="text-center">
                        <input name="answers.s9.p1" type="radio" checked="true" value="1" ng-model="answers.s9.p1"  ng-click="answers.s9.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s9.p1" type="radio" value="0" ng-model="answers.s9.p1" ng-click="answers.s9.updateTotal()">
                    </td>
                </tr>
                <tr>
                    <td>Ingreso a nuevos mercados o incrementos de la participación en el mercado actual</td>
                    <td class="text-center">
                        <input name="answers.s9.p2" type="radio" checked="true" value="1" ng-model="answers.s9.p2" ng-click="answers.s9.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s9.p2" type="radio" value="0" ng-model="answers.s9.p2" ng-click="answers.s9.updateTotal()">
                    </td>
                </tr>
                <tr>
                    <td>Mejora en la calidad de los bienes y servicios</td>
                    <td class="text-center">
                        <input name="answers.s9.p3" type="radio" checked="true" value="1" ng-model="answers.s9.p3" ng-click="answers.s9.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s9.p3" type="radio" value="0" ng-model="answers.s9.p3" ng-click="answers.s9.updateTotal()">
                    </td>
                </tr>
                 <tr>
                    <td>Aumentar la capacidad y/o flexibilidad para la producción de bienes y servicios</td>
                    <td class="text-center">
                        <input name="answers.s9.p4" type="radio" checked="true" value="1" ng-model="answers.s9.p4" ng-click="answers.s9.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s9.p4" type="radio" value="0" ng-model="answers.s9.p4" ng-click="answers.s9.updateTotal()">
                    </td>
                </tr>
                 <tr>
                    <td>Reducción de costos por unidad producida (p.e. laboral, consumo de materiales y de energía, etc.)</td>
                    <td class="text-center">
                        <input name="answers.s9.p5" type="radio" checked="true" value="1" ng-model="answers.s9.p5" ng-click="answers.s9.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s9.p5" type="radio" value="0" ng-model="answers.s9.p5" ng-click="answers.s9.updateTotal()">
                    </td>
                </tr>
                                 <tr>
                    <td>Reducción del impacto medioambiental o mejorar la sanidad y la seguridad</td>
                    <td class="text-center">
                        <input name="answers.s9.p6" type="radio" checked="true" value="1" ng-model="answers.s9.p6" ng-click="answers.s9.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s9.p6" type="radio" value="0" ng-model="answers.s9.p6" ng-click="answers.s9.updateTotal()">
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="underlined">Innovaciones organizacionales</td>
                </tr>
                <tr>
                    <td>Reducir el tiempo de respuesta a la necesidad del cliente y/o proveedor</td>
                    <td class="text-center">
                        <input name="answers.s9.p7" id="innovacion.producto.nuevos-0" type="radio" checked="true" value="1" ng-model="answers.s9.p7" ng-click="answers.s9.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s9.p7" type="radio" value="0" ng-model="answers.s9.p7" ng-click="answers.s9.updateTotal()">
                    </td>
                </tr>
                                <tr>
                    <td> Mejorar la habilidad para desarrollar nuevos productos y/o procesos</td>
                    <td class="text-center">
                        <input name="answers.s9.p8" id="innovacion.producto.nuevos-0" type="radio" checked="true" value="1" ng-model="answers.s9.p8" ng-click="answers.s9.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s9.p8" type="radio" value="0" ng-model="answers.s9.p8" ng-click="answers.s9.updateTotal()">
                    </td>
                </tr>

                                <tr>
                    <td>Mejorar la calidad de sus bienes y/o servicios</td>
                    <td class="text-center">
                        <input name="answers.s9.p9" id="innovacion.producto.nuevos-0" type="radio" checked="true" value="1" ng-model="answers.s9.p9" ng-click="answers.s9.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s9.p9" type="radio" value="0" ng-model="answers.s9.p9" ng-click="answers.s9.updateTotal()">
                    </td>
                </tr>
                                <tr>
                    <td>Reducir los costos por unidad producida</td>
                    <td class="text-center">
                        <input name="answers.s9.p10" id="innovacion.producto.nuevos-0" type="radio" checked="true" value="1" ng-model="answers.s9.p10" ng-click="answers.s9.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s9.p10" type="radio" value="0" ng-model="answers.s9.p10" ng-click="answers.s9.updateTotal()">
                    </td>
                </tr>
                                <tr>
                    <td>Mejorar la comunicación y/o participación de información dentro de su empresa y/o con otras empresas y/o instituciones </td>
                    <td class="text-center">
                        <input name="answers.s9.p11" id="innovacion.producto.nuevos-0" type="radio" checked="true" value="1" ng-model="answers.s9.p11" ng-click="answers.s9.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s9.p11" type="radio" value="0" ng-model="answers.s9.p11" ng-click="answers.s9.updateTotal()">
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="underlined">Innovaciones de marketing</td>
                </tr>
                
                <tr>
                    <td>Incrementar o mantener la participación de mercado</td>
                    <td class="text-center">
                        <input name="answers.s9.p12" id="innovacion.producto.nuevos-0" type="radio" checked="true" value="1" ng-model="answers.s9.p12" ng-click="answers.s9.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s9.p12" type="radio" value="0" ng-model="answers.s9.p12" ng-click="answers.s9.updateTotal()"> 
                    </td>
                </tr>
               
                <tr>
                    <td>introducir productos para un nuevo segmento de mercado</td>
                    <td class="text-center">
                        <input name="answers.s9.p13" id="innovacion.producto.nuevos-0" type="radio" checked="true" value="1" ng-model="answers.s9.p13" ng-click="answers.s9.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s9.p13" type="radio" value="0" ng-model="answers.s9.p13" ng-click="answers.s9.updateTotal()">
                    </td>
                </tr>

                <tr>
                    <td>Introducir productos para un mercado geográficamente nuevo</td>
                    <td class="text-center">
                        <input name="answers.s9.p14" id="innovacion.producto.nuevos-0" type="radio" checked="true" value="1" ng-model="answers.s9.p14" ng-click="answers.s9.updateTotal()">
                    </td>
                    <td class="text-center">
                        <input name="answers.s9.p14" type="radio" value="0" ng-model="answers.s9.p14" ng-click="answers.s9.updateTotal()">
                    </td>
                </tr>
                
            </tbody>
        </table>
        
 