<label class="col-xs-12 ">
    <p>23. Indique el grado de importancia de los objetivos perseguidos al momento de realizar sus innovaciones en el período 2013 - 2014 <span style="color:red; font-weight: 100">(Nota: Si el objetivo no fue perseguido al momento de realizar sus innovaciones, no conteste las siguientes preguntas)</span></p>
</label>
<div class="col-xs-12" >
    <table class="table  table-bordered">
        <thead>
            <tr>
                <th class="col-xs-6 col-sm-6 col-md-5">
                    <p>Actividad </p>
                </th>
                <th class="col-xs-6 col-sm-6 col-md-7">
                    <p>Grado de importancia</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ampliación de la gama de bienes y servicios</td>
                <td class="text-center col-xs-6">
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s9.p1" floor="0" ceiling="100"  step="1">
                        </slider>
                        <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                    </div>
                    
                </td>
               
            </tr>
            <tr>
                <td>Ingreso a nuevos mercados o incrementos de la participación en el mercado actual</td>
                <td class="text-center">
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s9.p2" floor="0" ceiling="100"  step="1">
                        </slider>
                        <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                    </div>
                     
                     </td>
            </tr>
            <tr>
                <td>Mejora en la calidad de los bienes y servicios</td>
                <td class="text-center">
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s9.p3" floor="0" ceiling="100"  step="1">
                        </slider>
                        <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                    </div>
                    </td>
            </tr>
            <tr>
                <td>Aumentar la capacidad y/o flexibilidad para la producción de bienes y servicios</td>
                <td class="text-center">
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s9.p4" floor="0" ceiling="100"  step="1">
                        </slider>
                        <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                    </div>
                    </td>
            </tr>
            <tr>
                <td>Reducción de costos por unidad producida (p.e. laboral, consumo de materiales y de energía, etc.)</td>
                <td class="text-center">
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s9.p5" floor="0" ceiling="100"  step="1">
                        </slider>
                        <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                    </div>
                    </td>
            </tr>
            <tr>
                <td>Reducción del impacto medioambiental o mejorar la sanidad y la seguridad</td>
                <td class="text-center">
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s9.p6" floor="0" ceiling="100"  step="1">
                        </slider>
                        <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                    </div>
                    </td>
            </tr>
            <tr>
                <td>Reducir el tiempo de respuesta a la necesidad del cliente y/o proveedor</td>
                <td class="text-center">
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s9.p7" floor="0" ceiling="100"  step="1">
                        </slider>
                        <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                    </div>
                </td>
            </tr>
            <tr>
                <td> Mejorar la habilidad para desarrollar nuevos productos y/o procesos</td>
                <td class="text-center">
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s9.p8" floor="0" ceiling="100"  step="1">
                        </slider>
                        <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Mejorar la calidad de sus bienes y/o servicios</td>
                <td class="text-center">
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s9.p9" floor="0" ceiling="100"  step="1">
                        </slider>
                        <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                    </div>
                </td>
            </tr>

            <tr>
                <td>Mejorar la comunicación y/o participación de información dentro de su empresa y/o con otras empresas y/o instituciones </td>
                <td class="text-center">
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s9.p11" floor="0" ceiling="100"  step="1">
                        </slider>
                        <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Incrementar o mantener la participación de mercado</td>
                <td class="text-center">
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s9.p12" floor="0" ceiling="100"  step="1">
                        </slider>
                        <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                    </div>
                </td>
            </tr>
            <tr>
                <td>introducir productos para un nuevo segmento de mercado</td>
                <td class="text-center">
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s9.p13" floor="0" ceiling="100"  step="1">
                        </slider>
                        <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Introducir productos para un mercado geográficamente nuevo</td>
                <td class="text-center">
                    <div class="rainbow-slider">
                        <slider ng-model="answers.s9.p14" floor="0" ceiling="100"  step="1">
                        </slider>
                        <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

