 <label class="col-md-12 ">
    <p>24. Señale el grado de importancia que tuvieron las siguientes barreras para la actividad innovadora en su empresa. <span style="color:red; font-weight: 100">(Nota: Si la barrera no fue percibida al momento de realizar sus innovaciones, no conteste las siguientes preguntas)</span></p>
</label>
<div class="col-md-12"> 
    <table class="table  table-bordered" >
        <thead>
            <tr>
                <th class="col-md-5">
                    <p>Barreras
                    </p>
                </th>
                <th colspan="5" class="col-md-7">
                    <p>Grado de importancia</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Falta de fondos propios
                    <td class="text-center">
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s10.p1" floor="0" ceiling="100" step="1">
                            </slider>
                            <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                        </div>
                    </td>
            </tr>
            <tr>
                <td>Falta de financiamiento externo a la empresa
                    <td class="text-center">
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s10.p2" floor="0" ceiling="100" step="1">
                            </slider>
                            <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                        </div>
                    </td>
            </tr>
            <tr>
                <td>Alto costo de la innovación
                    <td class="text-center">
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s10.p3" floor="0" ceiling="100" step="1">
                            </slider>
                            <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                        </div>
                    </td>
            </tr>
            <tr>
                <td>Falta de personal calificado
                    <td class="text-center">
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s10.p4" floor="0" ceiling="100" step="1">
                            </slider>
                            <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                        </div>
                    </td>
            </tr>
            <tr>
                <td>Falta de información sobre la tecnología
                    <td class="text-center">
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s10.p5" floor="0" ceiling="100" step="1">
                            </slider>
                            <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                        </div>
                    </td>
            </tr>
            <tr>
                <td>Falta de información sobre los mercados
                    <td class="text-center">
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s10.p6" floor="0" ceiling="100" step="1">
                            </slider>
                            <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                        </div>
                    </td>
            </tr>
            <tr>
                <td>Dificultad en encontrar socios de cooperación para innovación
                </td>
                    <td class="text-center">
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s10.p7" floor="0" ceiling="100" step="1">
                            </slider>
                            <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                        </div>
                    </td>
            </tr>
            <tr>
                <td>Mercado dominado por empresas establecidas
                    <td class="text-center">
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s10.p8" floor="0" ceiling="100" step="1">
                            </slider>
                            <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                        </div>
                    </td>
            </tr>
            <tr>
                <td>Incertidumbre respecto a la demanda por bienes o servicios innovadores
                    <td class="text-center">
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s10.p9" floor="0" ceiling="100" step="1">
                            </slider>
                            <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                        </div>
                    </td>
            </tr>
            <tr>
                <td>No es necesario debido a innovaciones previas
                    <td class="text-center">
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s10.p10" floor="0" ceiling="100" step="1">
                            </slider>
                            <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                        </div>
                    </td>
            </tr>
            <tr>
                <td>No es necesario por falta de demanda de innovaciones
                    <td class="text-center">
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s10.p11" floor="0" ceiling="100" step="1">
                            </slider>
                            <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                        </div>
                    </td>
            </tr>
            <tr>
                <td>Dificultad regulatoria
                    <td class="text-center">
                        <div class="rainbow-slider">
                            <slider ng-model="answers.s10.p12" floor="0" ceiling="100" step="1">
                            </slider>
                            <ng-include src="'app/characterization/partials/pips.html'"></ng-include>
                        </div>
                    </td>
            </tr>
        </tbody>
    </table>
