 
    <label class="col-md-12 ">
        <p>Señale el grado de importancia que tuvieron las siguientes fuentes de información, para la actividad innovadora en su empresa es una escala de 1 a 5, donde 1 significa que no fue importante, 2 poco importante, 3 algo importante, 4 importante y 5 muy importante</p>
    </label>
    <div class="col-md-12">
        <table class="table  table-bordered">
            <thead>
                <tr>
                    <th class="col-md-9">
                        <p>Barreras	
 </p>
                    </th>
                    <th colspan="5">
                        <p>Grado de importancia</p>
                    </th>
         
                </tr>
            </thead>
            <tbody>
                <tr>
    <td colspan="1" class="underlined">Costos</td>
    <td class="underlined">1</td>
    <td class="underlined">2</td>
    <td class="underlined">3</td>
    <td class="underlined">4</td>
    <td class="underlined">5</td>
</tr>
<tr>
    <td>Falta de fondos propios
        <td class="text-center">
            <input name="answers.s10.p1" type="radio" value="1" ng-model="answers.s10.p1" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p1" type="radio" value="2" ng-model="answers.s10.p1" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p1" type="radio" value="3" ng-model="answers.s10.p1" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p1" type="radio" value="4" ng-model="answers.s10.p1" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p1" type="radio" value="5" ng-model="answers.s10.p1" ng-click="answers.s9.updateTotal()">
        </td>
</tr>
<tr>
    <td>Falta de financiamiento externo a la empresa
        <td class="text-center">
            <input name="answers.s10.p2" type="radio" value="1" ng-model="answers.s10.p2" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p2" type="radio" value="2" ng-model="answers.s10.p2" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p2" type="radio" value="3" ng-model="answers.s10.p2" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p2" type="radio" value="4" ng-model="answers.s10.p2" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p2" type="radio" value="5" ng-model="answers.s10.p2" ng-click="answers.s9.updateTotal()">
        </td>
</tr>
<tr>
    <td>Alto costo de la innovación
        <td class="text-center">
            <input name="answers.s10.p3" type="radio" value="1" ng-model="answers.s10.p3" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p3" type="radio" value="2" ng-model="answers.s10.p3" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p3" type="radio" value="3" ng-model="answers.s10.p3" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p3" type="radio" value="4" ng-model="answers.s10.p3" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p3" type="radio" value="5" ng-model="answers.s10.p3" ng-click="answers.s9.updateTotal()">
        </td>
</tr>
<tr>
    <td colspan="6" class="underlined">Conocimiento </td>
</tr>
<tr>
    <td>Falta de personal calificado
        <td class="text-center">
            <input name="answers.s10.p4" type="radio" value="1" ng-model="answers.s10.p4" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p4" type="radio" value="2" ng-model="answers.s10.p4" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p4" type="radio" value="3" ng-model="answers.s10.p4" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p4" type="radio" value="4" ng-model="answers.s10.p4" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p4" type="radio" value="5" ng-model="answers.s10.p4" ng-click="answers.s9.updateTotal()">
        </td>
</tr>
<tr>
    <td>Falta de información sobre la tecnología
        <td class="text-center">
            <input name="answers.s10.p5" type="radio" value="1" ng-model="answers.s10.p5" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p5" type="radio" value="2" ng-model="answers.s10.p5" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p5" type="radio" value="3" ng-model="answers.s10.p5" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p5" type="radio" value="4" ng-model="answers.s10.p5" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p5" type="radio" value="5" ng-model="answers.s10.p5" ng-click="answers.s9.updateTotal()">
        </td>
</tr>
<tr>
    <td>Falta de información sobre los mercados
        <td class="text-center">
            <input name="answers.s10.p7" type="radio" value="1" ng-model="answers.s10.p7" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p7" type="radio" value="2" ng-model="answers.s10.p7" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p7" type="radio" value="3" ng-model="answers.s10.p7" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p7" type="radio" value="4" ng-model="answers.s10.p7" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p7" type="radio" value="5" ng-model="answers.s10.p7" ng-click="answers.s9.updateTotal()">
        </td>
</tr>
<tr>
    <td>Dificultad en encontrar socios de cooperación para innovación
        <td class="text-center">
            <input name="answers.s10.p8" type="radio" value="1" ng-model="answers.s10.p8" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p8" type="radio" value="2" ng-model="answers.s10.p8" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p8" type="radio" value="3" ng-model="answers.s10.p8" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p8" type="radio" value="4" ng-model="answers.s10.p8" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p8" type="radio" value="5" ng-model="answers.s10.p8" ng-click="answers.s9.updateTotal()">
        </td>
</tr>
<tr>
    <td colspan="6" class="underlined">Mercado</td>
</tr>
<tr>
    <td>Mercado dominado por empresas establecidas
        <td class="text-center">
            <input name="answers.s10.p9" type="radio" value="1" ng-model="answers.s10.p9" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p9" type="radio" value="2" ng-model="answers.s10.p9" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p9" type="radio" value="3" ng-model="answers.s10.p9" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p9" type="radio" value="4" ng-model="answers.s10.p9" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p9" type="radio" value="5" ng-model="answers.s10.p9" ng-click="answers.s9.updateTotal()">
        </td>
</tr>
<tr>
    <td>Incertidumbre respecto a la demanda por bienes o servicios innovadores
        <td class="text-center">
            <input name="answers.s10.p10" type="radio" value="1" ng-model="answers.s10.p10" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p10" type="radio" value="2" ng-model="answers.s10.p10" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p10" type="radio" value="3" ng-model="answers.s10.p10" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p10" type="radio" value="4" ng-model="answers.s10.p10" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p10" type="radio" value="5" ng-model="answers.s10.p10" ng-click="answers.s9.updateTotal()">
        </td>
</tr>
<tr>
    <td colspan="6" class="underlined">Otros factores</td>
</tr>
<tr>
    <td>No es necesario debido a innovaciones previas
        <td class="text-center">
            <input name="answers.s10.p11" type="radio" value="1" ng-model="answers.s10.p11" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p11" type="radio" value="2" ng-model="answers.s10.p11" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p11" type="radio" value="3" ng-model="answers.s10.p11" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p11" type="radio" value="4" ng-model="answers.s10.p11" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p11" type="radio" value="5" ng-model="answers.s10.p11" ng-click="answers.s9.updateTotal()">
        </td>
</tr>
<tr>
    <td>No es necesario por falta de demanda de innovaciones
        <td class="text-center">
            <input name="answers.s10.p12" type="radio" value="1" ng-model="answers.s10.p12" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p12" type="radio" value="2" ng-model="answers.s10.p12" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p12" type="radio" value="3" ng-model="answers.s10.p12" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p12" type="radio" value="4" ng-model="answers.s10.p12" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p12" type="radio" value="5" ng-model="answers.s10.p12" ng-click="answers.s9.updateTotal()">
        </td>
</tr>
<tr>
    <td>Dificultad regulatoria
        <td class="text-center">
            <input name="answers.s10.p13" type="radio" value="1" ng-model="answers.s10.p13" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p13" type="radio" value="2" ng-model="answers.s10.p13" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p13" type="radio" value="3" ng-model="answers.s10.p13" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p13" type="radio" value="4" ng-model="answers.s10.p13" ng-click="answers.s9.updateTotal()">
        </td>
        <td class="text-center">
            <input name="answers.s10.p13" type="radio" value="5" ng-model="answers.s10.p13" ng-click="answers.s9.updateTotal()">
        </td>
</tr>


            </tbody>
        </table>
 

